{%- macro generate_fields(fields) -%}
    {% for field in fields -%}
        {%- if field.static -%}static {% endif -%}
        {%- if field.const -%}const {% endif -%}
        {%- if field.constexpr -%}constexpr {% endif -%}
        {{format_field_type(field.type)}} {{field.name}}
        {%- if field.value is not none %} = {{get_field_value_formatted(field.value)}} 
        {%- elif not field.static -%} {}
        {%- endif -%}
        ;
    {% endfor %}
{% endmacro %}

{%- macro paste_fragments_codes(codes) -%}
{% if codes|length > 0 %}
{% for code in codes -%}
    {{code}}
    
{% endfor %}
{% endif %}
{% endmacro %}


{%- for include in fragments.dependencies.quoted_includes -%}
#include "{{include}}"
{% endfor %}

{% for include in fragments.dependencies.libraries_includes -%}
#include <{{include}}>
{% endfor %}

{% for include in fragments.dependencies.standard_includes -%}
#include <{{include}}>
{% endfor %}


{{paste_fragments_codes(fragments.before_namespace_fragments)}}

{% if namespace|length > 0 -%}
namespace {{namespace}} {
{%- endif %}

{{paste_fragments_codes(fragments.after_namespace_before_fragments)}}

class {{class_name}} 
{
{% if fields.public_fields|length > 0 -%}
public:
    {{generate_fields(fields.public_fields)}}
{%- endif -%}

{% if fields.private_fields|length > 0 -%}
private:
    {{generate_fields(fields.private_fields)}}
{%- endif -%}

{% if fields.protected_fields|length > 0 -%}
protected:
    {{generate_fields(fields.protected_fields)}}
{%- endif -%}

public:
{{paste_fragments_codes(fragments.in_class_fragments)|indent(4, False)}}

};

{{paste_fragments_codes(fragments.out_class_in_namespace_fragments)}}


{% if namespace|length > 0 -%}
}
{%- endif -%}

{{paste_fragments_codes(fragments.out_namespace_fragments)}}