{% if namespace|length > 0 -%}
namespace {{namespace}} {
{%- endif %}

{% for include in includes.external_includes -%}
#include "{{include}}"
{% endfor -%}
{% for include in includes.standard_includes -%}
#include <{{include}}>
{% endfor %}

{% macro generate_fields(fields) -%}
    {% for field in fields -%}
        {%- if field.static -%}static {% endif -%}
        {%- if field.const -%}const {% endif -%}
        {%- if field.constexpr -%}constexpr {% endif -%}
        {{format_field_type(field.type)}} {{field.name}}
        {%- if field.value is not none %} = {{get_field_value_formatted(field.value)}} 
        {%- elif not field.static -%} {}
        {%- endif -%}
        ;
    {% endfor %}
{% endmacro %}


class {{class_name}} 
{
{% if public_fields|length > 0 -%}
public:
    {{generate_fields(public_fields)}}
{%- endif -%}

{% if private_fields|length > 0 -%}
private:
    {{generate_fields(private_fields)}}
{%- endif -%}

{% if protected_fields|length > 0 -%}
protected:
    {{generate_fields(protected_fields)}}
{%- endif -%}


public:
{% if additional_generated_codes|length > 0 -%}
    {%- for code in additional_generated_codes -%}
        {{code|indent(4, True)}}
    {%- endfor -%}
{% endif %}

};

{% if namespace|length > 0 -%}
}
{%- endif %}