[this]() -> std::string {
    std::string result = "{";
    for (const auto& [key, value] : this->{{map_name}}) {
        result += "    " + {{get_to_string_value_format(map_type.key_type, 'key')}};
        result += " : ";
        result += {{get_to_string_value_format(map_type.value_type, 'value')}};
        result += ",\n";
    }
    result = "}";
    return result;
}()